.job-info{
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 10px;
}
.company-name{
    margin-top: 0;
}
.location-salary{
    display: flex;
    margin-bottom: 10px;
    
}
.job_type{
 color:#9873FF;
}
.salary{
    margin-left: 20px;
}
.btn-details{
    
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
}