.details-container{
    display: flex;
    padding:50px 100px;
}
.description{
    width: 600px;
    margin-right: 50px;
}
.title{
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 450px;
}
.apply-btn{
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
    color: white;
}